<mat-drawer-container class="relative h-screen w-full overflow-hidden bg-blue-600" hasBackdrop="false">
  <!-- Drawer Sidebar -->
  <mat-drawer #drawer mode="over" opened disableClose
  class="absolute top-4 left-4 w-64 h-[calc(100%-2rem)] rounded-xl !bg-white text-black flex flex-col p-4 space-y-4 shadow-2xl z-20 my-4">

  <div class="flex flex-row justify-between p-2 py-4">
    <mat-icon (click)="backToList()" *ngIf="drawerMode === 'details'">arrow_back</mat-icon>
    <mat-icon (click)="drawer.toggle()">menu</mat-icon>
  </div>

  <ng-container *ngIf="drawerMode === 'list'; else detailsView">
    <p class="text-xl p-2 uppercase">Morvara Residences</p>
    <p class="text-gray-600 text-xs font-light p-2">
      Explore the superstructure and the environment. Experience your future apartment with real views. Contact us today.
    </p>

    <mat-nav-list class="flex flex-col space-y-2">
      <app-project-card 
        *ngFor="let item of [1,3,5,5,6,7,8,8,9]" 
        (click)="openProjectDetails(item)">
      </app-project-card>
    </mat-nav-list>
  </ng-container>

  <ng-template #detailsView>
    <app-project-details-card [projectNumber]="selectedProject"
    ></app-project-details-card>
  </ng-template>
</mat-drawer>


  <!-- Main Content (Map Area) -->
  <mat-drawer-content class="w-full h-full">
    <div class="relative w-full h-full">
      <!-- Fake map background for demo -->
      <router-outlet></router-outlet>

      <!--left menu icon -->
      <div class="absolute top-4 left-4 flex flex-row space-x-4 text-black uppercase">
        <button mat-raised-button (click)="drawer.toggle()" color="black" class="shadow-lg !text-black">
          <mat-icon>menu</mat-icon> Units List
        </button>

      </div>

      <div class="absolute top-4 right-4 flex flex-row space-x-4 text-black uppercase">
        <button
          (click)="openPanoramaModal()"
          mat-raised-button color="black" class="shadow-lg !text-black">
          Panorama <mat-icon>explore</mat-icon>
        </button>


        <button mat-raised-button color="black" class="shadow-lg !text-black">
          Availability <mat-icon>visibility_off</mat-icon>
        </button>

        <!-- <button mat-raised-button color="black" class="shadow-lg !text-black">
          All Filters <mat-icon>filter_list</mat-icon>
        </button> -->

        <button mat-raised-button col or="black" (click)="drawer.toggle()" class="!text-black p-0">
          <mat-icon>fullscreen</mat-icon> Fullscreen
        </button>


        <button
         (click)="openBookModal()"
         mat-raised-button color="black" class="!text-white p-0 !bg-slate-900">
          <mat-icon>mail_outline</mat-icon> Book Today
        </button>


      </div>

      <div
        class="absolute bottom-4 left-1/2 -translate-x-1/2 bg-none p-2 text-white flex space-x-3 w-full justify-center rounded-lg shadow-md">
        <mat-icon class="-mt-1">mouse</mat-icon>
        <p class="text-sm">Explore by dragging mouse across view </p>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>